In [11]:
# Tuple


sports = ("tenis","cricket","football",True,False,"tenis")
print(sports)
print(type(sports))
print(sports[1])
print(sports[-1])
print(len(sports))

('tenis', 'cricket', 'football', True, False, 'tenis')
<class 'tuple'>
cricket
tenis
6

In [ ]:
#Change the value from the tuple

sports[1] = "BaseBall" #ERROR - 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [ ]:
# languages = ("python","java","c++","c#","javascript","ruby","go","php")
# print(languages)
# print(type(languages)) #<class 'tuple'>


# languages = ("python")
# print(languages)
# print(type(languages)) #<class 'str'>

languages = ("python" , )
print(languages)
print(type(languages)) #<class 'tuple'>

('python',)
<class 'tuple'>
['python']
<class 'list'>
['python', 'java']

In [24]:
# Convert tuple to list and vice versa ( because, can't directly change the value of a tuple)

ides = ("pycharm","vscode","jupyter","spyder","anaconda","notepad++","intelij")
print(ides , type(ides)) #<class 'tuple'>

new_list = list(ides)
print(new_list , type(new_list)) #<class 'list'>

new_list[1] = "anaconda"
new_list.append("notepad++")
new_list.remove("spyder")
new_list.insert(2,"atom")
print(new_list)
ides = tuple(new_list)
print(ides , type(ides)) #<class 'tuple'>

('pycharm', 'vscode', 'jupyter', 'spyder', 'anaconda', 'notepad++', 'intelij') <class 'tuple'>
['pycharm', 'vscode', 'jupyter', 'spyder', 'anaconda', 'notepad++', 'intelij'] <class 'list'>
['pycharm', 'anaconda', 'atom', 'jupyter', 'anaconda', 'notepad++', 'intelij', 'notepad++']
('pycharm', 'anaconda', 'atom', 'jupyter', 'anaconda', 'notepad++', 'intelij', 'notepad++') <class 'tuple'>

In [ ]:
# Nested Tuple
nested_tuple = (1,2,3,(4,5,6),7,(8,9,10))
print(nested_tuple)
print(nested_tuple[3])
print(nested_tuple[3][1])
print(nested_tuple[5][2])

(1, 2, 3, (4, 5, 6), 7, (8, 9, 10))
(4, 5, 6)
5
10

In [38]:
# Set

sports = {"tenis","cricket","football",True,False,"tenis"}
print(sports , type(sports)) #<class 'set'>

print(len(sports))

# print(sports[1]) #ERROR - cant access items by index

# add value to set
sports.add("baseball")
print(sports)

# add multiple values to set
sports.update(["hockey","rugby","badminton"])
print(sports)

# remove value from set
sports.remove("tenis")
print(sports)

{'football', True, False, 'tenis', 'cricket'} <class 'set'>
5
{'football', True, False, 'baseball', 'tenis', 'cricket'}
{False, True, 'rugby', 'tenis', 'cricket', 'football', 'hockey', 'baseball', 'badminton'}
{False, True, 'rugby', 'cricket', 'football', 'hockey', 'baseball', 'badminton'}

In [ ]:
# set doesnt allow duplicate values

laptops = {"dell","hp","apple","lenovo","asus","dell","hp"}
print(laptops) # {'dell', 'hp', 'apple', 'lenovo',

{'apple', 'asus', 'hp', 'lenovo', 'dell'}

In [ ]:
# Range

my_var = range(1,17,3)
print(my_var) # range(1, 17, 3)
print(type(my_var)) # <class 'range'>

print(my_var[0]) # 1
print(my_var[1]) # 4
print(my_var[2]) # 7
print(my_var[-1]) # 16
print(my_var[-2]) # 13
print(my_var[-3]) # 10
print(len(my_var)) # 6

range(1, 17, 3)
<class 'range'>
1
4
7
16
13
10
6

In [6]:
# Dictionary - key:value pairs

# key - should be unique and immutable (string,number,tuple)
dict_1 = {
    "name" : "laptop",
    "brand" : "dell",
    "price" : 120000,
    "in_stock" : True,
    "specs" : {
        "ram" : "16GB",
        "storage" : "512GB SSD",
        "processor" : "Intel i7"
    },
    "accessories" : ["mouse","keyboard","headset"]
}

print(dict_1)
print(type(dict_1))   # <class 'dict'>
print(len(dict_1))    # 5

print(dict_1["name"]) # laptop
print(dict_1["brand"]) # dell
print(dict_1["price"]) # 120000
print(dict_1["in_stock"]) # True
print(dict_1["specs"]["ram"])

{'name': 'laptop', 'brand': 'dell', 'price': 120000, 'in_stock': True, 'specs': {'ram': '16GB', 'storage': '512GB SSD', 'processor': 'Intel i7'}, 'accessories': ['mouse', 'keyboard', 'headset']}
<class 'dict'>
6
laptop
dell
120000
True
16GB

In [8]:
# access values by key
item_1 = {
    "name" : "laptop",
    "brand" : "dell",
    "price" : 120000,
    "in_stock" : True
}
print(item_1["name"])  # laptop
print(item_1["brand"]) # dell
print(item_1["price"]) # 120000
print(item_1["in_stock"]) # True


# update values by key
item_1["price"] = 110000
item_1["in_stock"] = False
print(item_1)

# check duplicate allowsd or not
item_1 = {
    "name" : "laptop",
    "brand" : "dell",
    "price" : 120000,
    "in_stock" : True,
    "name" : "desktop"   # duplicate key - name
}
print(item_1)  # {'name': 'desktop', 'brand': 'dell', 'price': 120000, 'in_stock': True}
# last value will be considered

laptop
dell
120000
True
{'name': 'laptop', 'brand': 'dell', 'price': 110000, 'in_stock': False}
{'name': 'desktop', 'brand': 'dell', 'price': 120000, 'in_stock': True}

In [ ]:
# access key by get() method in dictionary
item_1 = {
    "name" : "laptop",
    "brand" : "dell",
    # "price" : 120000,
    "in_stock" : True
}
print(item_1.get("name"))  # laptop

# when the key is not available
print(item_1.get("price"))  # 120000
print(item_1.get("price","Not Available"))  # Not Available
print(item_1.get("price",0))  # 0

laptop
None
Not Available
0

In [28]:
# add new key:value pair to dictionary

languages = {
    "python" : 1991,
    "java" : 1995,
    "c++" : 1985,
    "c#" : 2000
}

print(languages)
print(type(languages)) # <class 'dict'>
print(len(languages))  # 4
languages["javascript"] = 1995
print(languages)

{'python': 1991, 'java': 1995, 'c++': 1985, 'c#': 2000}
<class 'dict'>
4
{'python': 1991, 'java': 1995, 'c++': 1985, 'c#': 2000, 'javascript': 1995}

In [23]:
# update or add multiple key:value pairs to dictionary
languages.update({
    "java" : 1996,   # update
    "ruby" : 1995,
    "go" : 2009,
    "php" : 1995
})
print(languages)

{'python': 1991, 'java': 1996, 'c++': 1985, 'c#': 2000, 'javascript': 1995, 'ruby': 1995, 'go': 2009, 'php': 1995}

In [ ]:
# remove key:value pair using pop from dictionary
languages.pop("c++")
print(languages)

{'python': 1991, 'java': 1995, 'c#': 2000, 'javascript': 1995}
{'python': 1991, 'java': 1995, 'c#': 2000, 'javascript': 1995}

In [ ]:
# remove key:value pair using del from dictionary
del languages["c#"]
print(languages)

{'python': 1991, 'java': 1995, 'javascript': 1995}

In [31]:
# remove key:value pair using clear from dictionary
languages.clear()
print(languages) # {}

{}

In [ ]:
 #Arithmatic Operators

# 01. Exponentiation - **
a = 2
b = 3
print(a ** b)  # 8 - 2*2*2 = 8


# 02. Division - /
c = 10
d = 3
print(c / d)  # 3.3333333333333335 - float value - 10 = (3*3)+1


# 03. Floor Division - //
e = 20
f = 6
print(e // f)  # 3 - int value - 20 = (6*3)+2

# 04. Modulus - %
g = 15
h = 4
print(g % h)  # 3 - remainder value - 15 = (4*3)+3

# 05. Multiplication - *
i = 5
j = 4
print(i * j)  # 20  - 5+5+5+5 = 20

8
3.3333333333333335
3
3

In [ ]:
# Assignment Operators - this operators are used to assign values to variables

# 01. Assignment - =
x = 10
y = 5
print(x)  # 10
print(y)  # 5

# 02. Add AND Assignment - +=
x += 5  # x = x + 5
print(x)  # 15
y += 20  # y = y + 10
print(y)  # 15

# 03. Subtract AND Assignment - -=
x -= 3  # x = x - 3
print(x)  # 12
y -= 5  # y = y - 5
print(y)  # 20

# 04. Multiply AND Assignment - *=
x *= 2  # x = x * 2
print(x)  # 24
y *= 3  # y = y * 3
print(y)  # 60

# 05. Divide AND Assignment - /=
x /= 4  # x = x / 4
print(x)  # 6.0
y /= 5  # y = y / 5
print(y)  # 12.0

# 06. Floor Divide AND Assignment - //=
x //= 4  # x = x // 4
print(x)  # 1.0
y //= 5  # y = y // 5
print(y)  # 2.0

# 07. Modulus AND Assignment - %=
x %= 2  # x = x % 2
print(x)  # 1.0
y %= 2  # y = y % 2
print(y)  # 0.0

# 08. Exponentiation AND Assignment - **=
x **= 3  # x = x ** 3
print(x)  # 1.0
y **= 3  # y = y ** 3
print(y)  # 0.0

10
5
15
25
12
20
24
60
6.0
12.0

In [ ]:
# Comparison Operators - this operators are used to compare two values

# 01. Equal - == 
a = 10
b = 5
print(a == b)  # False
print(a == 10)  # True
print(b == 5)  # True
print(b == 10)  # False
print(a == 15)  # False

# 02. Not Equal - !=
print(a != b)  # True
print(a != 10)  # False
print(b != 5)  # False
print(b != 10)  # True
print(a != 15)  # True

# 03. Greater Than - >
print(a > b)  # True
print(a > 10)  # False
print(b > 5)  # False
print(b > 10)  # False
print(a > 15)  # False

# 04. Less Than - <
print(a < b)  # False
print(a < 10)  # False
print(b < 5)  # False
print(b < 10)  # True
print(a < 15)  # True

# 05. Greater Than or Equal to - >=
print(a >= b)  # True
print(a >= 10)  # True
print(b >= 5)  # True
print(b >= 10)  # False
print(a >= 15)  # False

# 06. Less Than or Equal to - <=
print(a <= b)  # False
print(a <= 10)  # True
print(b <= 5)  # True
print(b <= 10)  # True
print(a <= 15)  # True

False
True
True
False
False
True
False
False
True
True